                @font-face {
                    font-family: 'a-shin-go-prob';
                    src: url('./fonts/a-otf-shingopro/ShinGoPro-Bold-AlphaNum.eot');
                    src: url('./fonts/a-otf-shingopro/ShinGoPro-Bold-AlphaNum.eot?#iefix') format('embedded-opentype'), url('./fonts/a-otf-shingopro/ShinGoPro-Bold-AlphaNum.woff2') format('woff2'), url('./fonts/a-otf-shingopro/ShinGoPro-Bold-AlphaNum.woff') format('woff'), url('./fonts/a-otf-shingopro/ShinGoPro-Bold-AlphaNum.ttf') format('truetype'), url('./fonts/a-otf-shingopro/ShinGoPro-Bold-AlphaNum.svg#ShinGoPro-Bold-AlphaNum') format('svg');
                    font-weight: bold;
                    font-style: normal;
                }
                
                @font-face {
                    font-family: 'a-shin-go-prom';
                    src: url('./fonts/a-otf-shingopro/ShinGoPro-Medium-AlphaNum.eot');
                    src: url('./fonts/a-otf-shingopro/ShinGoPro-Medium-AlphaNum.eot?#iefix') format('embedded-opentype'), url('./fonts/a-otf-shingopro/ShinGoPro-Medium-AlphaNum.woff2') format('woff2'), url('./fonts/a-otf-shingopro/ShinGoPro-Medium-AlphaNum.woff') format('woff'), url('./fonts/a-otf-shingopro/ShinGoPro-Medium-AlphaNum.ttf') format('truetype'), url('./fonts/a-otf-shingopro/ShinGoPro-Medium-AlphaNum.svg#ShinGoPro-Medium-AlphaNum') format('svg');
                    font-weight: 500;
                    font-style: normal;
                }
                
                @font-face {
                    font-family: 'dfg-maru-go-sb';
                    src: url('./fonts/df-futo-maru-gothic-w9/DFMaruGothic-SB-WING-RKSJ-H.eot');
                    src: url('./fonts/df-futo-maru-gothic-w9/DFMaruGothic-SB-WING-RKSJ-H.eot?#iefix') format('embedded-opentype'), url('./fonts/df-futo-maru-gothic-w9/DFMaruGothic-SB-WING-RKSJ-H.woff2') format('woff2'), url('./fonts/df-futo-maru-gothic-w9/DFMaruGothic-SB-WING-RKSJ-H.woff') format('woff'), url('./fonts/df-futo-maru-gothic-w9/DFMaruGothic-SB-WING-RKSJ-H.ttf') format('truetype'), url('./fonts/df-futo-maru-gothic-w9/DFMaruGothic-SB-WING-RKSJ-H.svg#DFMaruGothic-SB-WING-RKSJ-H') format('svg');
                    font-weight: normal;
                    font-style: normal;
                }
                
                @font-face {
                    font-family: 'dfp-hs-go-w5';
                    src: url('./fonts/df-heiseigothic-w5/DFHSGothic-W5-WINP-RKSJ-H.eot');
                    src: url('./fonts/df-heiseigothic-w5/DFHSGothic-W5-WINP-RKSJ-H.eot?#iefix') format('embedded-opentype'), url('./fonts/df-heiseigothic-w5/DFHSGothic-W5-WINP-RKSJ-H.woff2') format('woff2'), url('./fonts/df-heiseigothic-w5/DFHSGothic-W5-WINP-RKSJ-H.woff') format('woff'), url('./fonts/df-heiseigothic-w5/DFHSGothic-W5-WINP-RKSJ-H.ttf') format('truetype'), url('./fonts/df-heiseigothic-w5/DFHSGothic-W5-WINP-RKSJ-H.svg#DFHSGothic-W5-WINP-RKSJ-H') format('svg');
                    font-weight: normal;
                    font-style: normal;
                }
                
                @font-face {
                    font-family: 'dfp-hs-go-w7';
                    src: url('./fonts/df-heiseigothic-w7/DFHSGothic-W7-WINP-RKSJ-H.eot');
                    src: url('./fonts/df-heiseigothic-w7/DFHSGothic-W7-WINP-RKSJ-H.eot?#iefix') format('embedded-opentype'), url('./fonts/df-heiseigothic-w7/DFHSGothic-W7-WINP-RKSJ-H.woff2') format('woff2'), url('./fonts/df-heiseigothic-w7/DFHSGothic-W7-WINP-RKSJ-H.woff') format('woff'), url('./fonts/df-heiseigothic-w7/DFHSGothic-W7-WINP-RKSJ-H.ttf') format('truetype'), url('./fonts/df-heiseigothic-w7/DFHSGothic-W7-WINP-RKSJ-H.svg#DFHSGothic-W7-WINP-RKSJ-H') format('svg');
                    font-weight: normal;
                    font-style: normal;
                }
                
                @font-face {
                    font-family: 'dfg-hs-go-w7';
                    src: url('./fonts/df-heiseigothic-w7/DFHSGothic-W7-WING-RKSJ-H.eot');
                    src: url('./fonts/df-heiseigothic-w7/DFHSGothic-W7-WING-RKSJ-H.eot?#iefix') format('embedded-opentype'), url('./fonts/df-heiseigothic-w7/DFHSGothic-W7-WING-RKSJ-H.woff2') format('woff2'), url('./fonts/df-heiseigothic-w7/DFHSGothic-W7-WING-RKSJ-H.woff') format('woff'), url('./fonts/df-heiseigothic-w7/DFHSGothic-W7-WING-RKSJ-H.ttf') format('truetype'), url('./fonts/df-heiseigothic-w7/DFHSGothic-W7-WING-RKSJ-H.svg#DFHSGothic-W7-WING-RKSJ-H') format('svg');
                    font-weight: normal;
                    font-style: normal;
                }
                
                @font-face {
                    font-family: 'dfg-hs-go-w9';
                    src: url('./fonts/df-heiseigothic-w9/DFHSGothic-W9-WING-RKSJ-H.eot');
                    src: url('./fonts/df-heiseigothic-w9/DFHSGothic-W9-WING-RKSJ-H.eot?#iefix') format('embedded-opentype'), url('./fonts/df-heiseigothic-w9/DFHSGothic-W9-WING-RKSJ-H.woff2') format('woff2'), url('./fonts/df-heiseigothic-w9/DFHSGothic-W9-WING-RKSJ-H.woff') format('woff'), url('./fonts/df-heiseigothic-w9/DFHSGothic-W9-WING-RKSJ-H.ttf') format('truetype'), url('./fonts/df-heiseigothic-w9/DFHSGothic-W9-WING-RKSJ-H.svg#DFHSGothic-W9-WING-RKSJ-H') format('svg');
                    font-weight: normal;
                    font-style: normal;
                }
                
                @font-face {
                    font-family: 'kozuka-go-prob';
                    src: url('./fonts/koz-go-pro/KozGoPro-Bold-AlphaNum.eot');
                    src: url('./fonts/koz-go-pro/KozGoPro-Bold-AlphaNum.eot?#iefix') format('embedded-opentype'), url('./fonts/koz-go-pro/KozGoPro-Bold-AlphaNum.woff2') format('woff2'), url('./fonts/koz-go-pro/KozGoPro-Bold-AlphaNum.woff') format('woff'), url('./fonts/koz-go-pro/KozGoPro-Bold-AlphaNum.ttf') format('truetype'), url('./fonts/koz-go-pro/KozGoPro-Bold-AlphaNum.svg#KozGoPro-Bold-AlphaNum') format('svg');
                    font-weight: bold;
                    font-style: normal;
                }
                
                *,
                 ::before,
                 ::after {
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                }
                
                html,
                body,
                img {
                    margin: 0;
                    padding: 0;
                }
                
                img {
                    /* max-width: 100%; */
                }
                
                .v-middle {
                    margin-top: auto;
                    margin-bottom: auto;
                }
                
                .m-r-15 {
                    margin-right: 15px;
                }
                
                .m-tb-15 {
                    margin-top: 15px;
                    margin-bottom: 15px;
                }
                
                .p-15 {
                    padding: 15px;
                }
                
                .p-rl-15 {
                    padding-right: 15px;
                    padding-left: 15px;
                }
                
                .flex {
                    display: flex;
                }
                
                .flex-col {
                    display: flex;
                    flex-direction: column;
                }
                
                .flex-row {
                    display: flex;
                    flex-direction: row;
                }
                
                .justify-space-between {
                    justify-content: space-between;
                }
                
                .txt-center {
                    text-align: center;
                }
                
                .txt-right {
                    text-align: right;
                }
                
                .black {
                    color: #231916;
                }
                
                .red {
                    color: #E60013;
                }
                
                .pink {
                    color: #CB67A4;
                }
                
                .orange {
                    color: #EC6800;
                }
                
                .white {
                    color: #ffffff;
                }
                
                .blue {
                    color: #25BCEF;
                }
                
                .container {
                    position: relative;
                    max-width: 1000px;
                    width: 100%;
                    margin-right: auto;
                    margin-left: auto;
                }
                /* Header */
                
                .header {
                    width: 100%;
                    height: 50px;
                    background-color: #fff;
                    padding-left: 11px;
                    padding-right: 15px;
                }
                
                .mob-header {
                    display: none;
                }
                
                nav .logo {
                    width: 100%;
                    padding-top: 2px;
                }
                
                .contact .form {
                    width: 100%;
                    padding-top: 5px;
                    margin-right: 9px;
                }
                
                .contact .dial {
                    width: 100%;
                    padding-top: 1px;
                    margin-right: 5px;
                }
                /* Section 1 */
                
                .main {
                    width: 100%;
                }
                
                .section-1 {
                    position: relative;
                    background: url(./images/1x/section1-bg.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: left;
                    z-index: -2;
                    padding: 15px;
                }
                
                .section-1 .s1-dfp-w7 {
                    width: 417px;
                    background-color: #E9EAEA;
                    opacity: 0.79;
                    border-radius: 10px;
                    padding: 5px 0px 5px 10px;
                    font-family: 'dfp-hs-go-w7';
                    font-size: 20px;
                    line-height: 24px;
                    letter-spacing: 0.3px;
                }
                
                .s1-p2,
                .s1-p3 .p3-right {
                    z-index: 11;
                }
                
                .section-1 .s1-p3 {
                    margin-left: 30px;
                }
                
                .s1-bg2 {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    z-index: -1;
                }
                
                .s1-bg2 img {
                    width: 440px;
                }
                
                .s1-p3 .p3-left {
                    padding: 7px 11px;
                    -webkit-box-shadow: inset -7px -7px 10px -2px rgba(0, 0, 0, 0.65);
                    -moz-box-shadow: inset -7px -7px 10px -2px rgba(0, 0, 0, 0.65);
                    box-shadow: inset -7px -7px 10px -2px rgba(0, 0, 0, 0.65);
                    border-radius: 15px;
                    margin-top: 9px;
                    border: 2px solid rgba(0, 0, 0, 0.75);
                    border-top: 2px solid rgba(0, 0, 0, 0.54);
                    border-left: 2px solid rgb(0, 0, 0, 0.54);
                }
                
                .s1-p3 .p3-left .title {
                    font-family: 'dfg-maru-go-sb';
                    font-size: 28px;
                    line-height: 33px;
                }
                
                .s1-p3 .p3-left .content {
                    font-family: 'dfg-maru-go-sb';
                    padding-top: 8px;
                    padding-bottom: 8px;
                    font-size: 20px;
                    line-height: 23px;
                }
                
                .s1-p3 .p3-left .content span {
                    font-size: 14px;
                    line-height: 1.15;
                }
                
                .s1-p3 .p3-right {
                    position: absolute;
                    right: 10px;
                    margin-top: -110px;
                }
                
                .section-2 {
                    background-color: #fff;
                }
                
                .s2-p1 .list {
                    font-family: 'dfg-hs-go-w9';
                    font-size: 34px;
                    line-height: 50px;
                    padding-left: 50px;
                }
                
                .s2-p1 .list-next {
                    font-family: 'dfg-hs-go-w9';
                    font-size: 47px;
                    line-height: 50px;
                    margin-bottom: 10px;
                    margin-left: -52px;
                }
                
                .s2-p1 .list-next span {
                    font-size: 57px;
                    line-height: 50px;
                }
                
                .s2-title img {
                    width: 100%
                }
                
                .s2-p2 .refer {
                    padding-left: 70px;
                    padding-right: 20px;
                    font-family: 'dfg-hs-go-w7';
                }
                
                .s2-p2 .refer .red {
                    font-size: 32px;
                    line-height: 45px;
                }
                
                .s2-p2 .refer .black {
                    font-size: 26px;
                    line-height: 45px;
                }
                
                .s2-p2 .p2-btn {
                    position: relative;
                    background-color: #25BCEF;
                    font-family: 'dfg-hs-go-w9';
                    font-size: 35px;
                    line-height: 48px;
                    margin-right: auto;
                    padding-left: 48px;
                    padding-right: 70px;
                    margin-bottom: 15px;
                    border: unset;
                    border-radius: 5px;
                    cursor: pointer;
                    text-decoration: unset;
                    margin-left: 100px;
                    margin-top: 10px;
                }
                
                .s2-p2 .p2-btn a {
                    margin-left: 51px;
                    margin-top: 6px;
                }
                
                .s2-p2 .p2-btn span {
                    padding-left: 20px;
                    font-size: 17px;
                    line-height: 29px;
                }
                
                .s2-p2 .p2-btn img {
                    width: 40px;
                    position: absolute;
                    right: 20px;
                    margin-top: 20px;
                }
                
                .section-3 {
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center center;
                    background-color: #FFF9B1;
                    border: 7px solid #DFE200;
                    background-clip: border-box;
                    padding: 10px 0px 5px 10px;
                }
                
                .s3-p1 .p1-img img {
                    width: 498px;
                }
                
                .s3-p1 .p1-price {
                    padding-left: 30px;
                }
                
                .s3-p1 .p1-price .price-content {
                    margin-top: 10px;
                }
                
                .s3-p1 .p1-price .price-content .product-w9 {
                    font-family: 'dfg-hs-go-w9';
                    font-size: 30px;
                    line-height: 36px;
                    margin-right: 15px;
                    padding: 15px;
                }
                
                .s3-p1 .p1-price .price-blue .product-w9 {
                    background-color: #056FB8;
                }
                
                .s3-p1 .p1-price .price-orange .product-w9 {
                    background-color: #EC6800;
                }
                
                .s3-p1 .p1-price .price-orange {
                    padding-top: 35px;
                }
                
                .s3-p1 .p1-price .price-content .product-number {
                    margin-top: auto;
                }
                
                .s3-p1 .p1-price .price-content .product-w7 {
                    font-family: 'dfp-hs-go-w7';
                    font-size: 32px;
                    line-height: 38px;
                    background-color: #F9D3E3;
                    padding-left: 10px;
                    padding-right: 10px;
                }
                
                .s3-p1 .p1-price .price-content .product-w5 {
                    font-family: 'dfp-hs-go-w5';
                    font-size: 17px;
                    line-height: 20px;
                    margin-bottom: 5px;
                }
                
                .s3-p1 .p1-price .price {
                    font-family: 'dfg-hs-go-w9';
                    font-size: 58px;
                    line-height: 69px;
                    padding-top: 15px;
                }
                
                .s3-p1 .p1-price .price span {
                    font-size: 32px;
                    line-height: 38px;
                }
                
                .s3-p2 .p2-title {
                    font-family: 'kozuka-go-prob';
                    font-size: 25px;
                    line-height: 21px;
                    padding-left: 10px;
                }
                
                .p2-list {
                    font-family: 'dfg-hs-go-w7';
                }
                
                .list-1 .list1-header {
                    padding-left: 10px;
                }
                
                .list-1 .list1-header,
                .list-2 .list2-header {
                    font-size: 24px;
                    line-height: 40px;
                }
                
                .list-1 .header-2 {
                    font-size: 27px;
                    line-height: 40px;
                    padding-left: 10px;
                }
                
                .list-1 .content {
                    font-size: 22px;
                    line-height: 28px;
                    padding-left: 40px;
                }
                
                .list-1 .content .txt-sm {
                    font-size: 16px;
                    line-height: 23px;
                }
                
                .list-2 {
                    padding-top: 8px;
                    padding-left: 20px;
                }
                
                .list-2 .list2-header {
                    padding-left: 15px;
                }
                
                .list-2 .content,
                .list-3 {
                    font-size: 20px;
                    line-height: 29px;
                }
                
                .list-2 .content .txt-sm-2,
                .list-3 .txt-sm-2 {
                    font-size: 12px;
                    line-height: 14px;
                }
                
                .list-2 .content {
                    padding-left: 25px;
                }
                
                .list-3 {
                    padding-top: 20px;
                    padding-left: 15px;
                }
                
                .txt-sm-2 {
                    padding-left: 10px;
                }
                
                .price-half .p2-list {
                    display: none;
                }
                
                .section-4 {
                    background: #ffffff;
                    padding: 10px;
                }
                
                .section-4 .s4-p1-btn {
                    position: relative;
                    background-color: #E60013;
                    font-family: 'dfg-hs-go-w9';
                    font-size: 46px;
                    line-height: 65px;
                    padding-left: 124px;
                    padding-right: 40px;
                    text-decoration: unset;
                    letter-spacing: 1px;
                    border-radius: 5px;
                    margin-top: 11px;
                    margin-left: 20px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                }
                
                .section-4 .s4-p1-btn span {
                    font-size: 22px;
                    line-height: 39px;
                    margin-left: 2px;
                    letter-spacing: 1px;
                }
                
                .section-4 .s4-p1-btn img {
                    position: absolute;
                    right: -20px;
                    margin-top: 13px;
                }
                
                .s4-p2-title {
                    font-family: 'kozuka-go-prob';
                    font-size: 18px;
                    line-height: 20px;
                    margin-top: 40px;
                    margin-bottom: 20px;
                    margin-left: 10px;
                }
                
                .list {
                    width: 100%;
                }
                
                .item-row {
                    margin-top: 0px;
                }
                
                .list-item {
                    width: 33.33333%;
                    padding-left: 8px;
                    padding-right: 8px;
                    margin-bottom: 20px;
                }
                
                .list-item:last-child {
                    margin-right: 0px;
                }
                
                .list-item .item-content {
                    padding-left: 10px;
                    padding-right: 10px;
                }
                
                .item-content:nth-child(3) {
                    padding-left: 30px;
                    padding-right: 30px;
                }
                
                .item-content {
                    margin-right: auto;
                    margin-left: auto;
                }
                
                .list-item .item-header {
                    width: 100%;
                    background-color: #1D2088;
                    font-family: 'a-shin-go-prob';
                    font-size: 15px;
                    line-height: 26px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    border-radius: 6px;
                }
                
                .list-item:nth-child(2) .item-header {
                    font-size: 12px;
                }
                
                .list-item .item-content {
                    font-family: 'a-shin-go-prom';
                }
                
                .list-item:nth-child(3) .item-content .item-txt {
                    padding-left: 20px;
                    padding-right: 20px;
                }
                
                .item-content img {
                    width: 142px;
                    margin-right: 8px;
                }
                
                .item-content .item-img {
                    margin-top: 4px;
                    margin-left: auto;
                    margin-right: auto;
                }
                
                .item-img div:first-child img {
                    margin-right: 5px;
                }
                
                .item-content .item-txt {
                    font-size: 8.2px;
                    line-height: 16px;
                }
                
                .item-row {
                    flex-wrap: wrap;
                }
                
                .last-item {
                    width: 33.33333%;
                    margin-top: 6px;
                    margin-left: -3px;
                }
                
                .last-item img {
                    width: 324px;
                }
                
                .p-15-img {
                    padding-left: 135px;
                }
                
                .tab-img,
                .s2-btn-mob,
                .s4-btn-mob {
                    display: none;
                }
                
                @media (max-width: 999px) {
                    .pc-img {
                        display: none;
                    }
                    .tab-img {
                        display: block;
                    }
                    .section-1 {
                        padding: 15px 10px;
                    }
                    .section-1 .s1-p3 {
                        margin-left: 0;
                    }
                    .s1-p2 {
                        margin-top: 8px;
                    }
                    .s1-p3 .p3-right img {
                        width: 75%;
                    }
                    .s1-p2 img {
                        width: 96%;
                    }
                    .s2-p1 .list {
                        font-size: 30.8px;
                        padding-left: 10px;
                        line-height: 40px;
                    }
                    .s1-p3 .p3-right {
                        margin-top: -34px;
                        right: 8px;
                        text-align: right;
                    }
                    .section-2 .s2-p1 {
                        margin-top: 20px;
                        padding-left: 0px;
                    }
                    .s2-p1 .list-next {
                        margin-bottom: 20px;
                        margin-left: 0px;
                        font-size: 45px;
                    }
                    .s2-p1 .list-next .red {
                        font-size: 55px;
                    }
                    .s2-p2 .refer .red {
                        margin-left: -7px;
                        font-size: 28px;
                        line-height: 45px;
                    }
                    .s2-p2 .refer .black {
                        margin-left: 0px;
                        font-size: 20px;
                        line-height: 30px;
                    }
                    .s2-p2 .p2-btn {
                        font-size: 31px;
                        padding-left: 15px;
                        padding-right: 15px;
                        margin-left: 45px;
                        margin-top: 17px;
                        margin-bottom: 15px;
                        letter-spacing: 1px;
                        margin-right: 35px;
                        line-height: 48px;
                    }
                    .s2-p2 .p2-btn span {
                        padding-left: 0px;
                        letter-spacing: 1px;
                    }
                    .s2-p2 .p2-btn img {
                        right: -25px;
                        margin-top: 10px;
                    }
                    .section-3 {
                        border: unset;
                        padding: 20px 30px 30px;
                    }
                    .section-3 .flex {
                        flex-wrap: wrap;
                    }
                    .s3-p1 .p1-img {
                        flex: 0 0 100%;
                    }
                    .s3-p1 .p1-img img {
                        width: 100%;
                    }
                    .s3-p1 .p1-img {
                        margin-top: 0px;
                        margin-left: 0px;
                        margin-bottom: 20px;
                    }
                    .p1-price {
                        display: flex;
                    }
                    .p1-price .price-half {
                        width: 50%;
                    }
                    .price-half .p2-list {
                        display: block;
                    }
                    .s3-p1 .p1-price .price-content {
                        margin-top: 0px;
                        padding-left: 35px;
                    }
                    .s3-p1 .p1-price .price-content .product-w9 {
                        font-size: 26px;
                        line-height: 32px;
                        padding: 15px;
                    }
                    .s3-p1 .p1-price .price-content .product-w9 {
                        font-size: 26px;
                        line-height: 32px;
                        padding: 15px;
                    }
                    .s3-p1 .p1-price .price-content .product-number {
                        display: flex;
                        padding-top: 10px;
                    }
                    .s3-p1 .p1-price .price-content .product-w5 {
                        font-size: 15px;
                        line-height: 18px;
                        padding-top: 15px;
                        padding-left: 15px;
                        padding-right: 5px;
                    }
                    .s3-p1 .p1-price .price-content .product-w7 {
                        font-size: 28px;
                        line-height: 32px;
                        padding-top: 4px;
                    }
                    .s3-p1 .p1-price .price {
                        font-size: 47px;
                        line-height: 56px;
                        text-align: left;
                        padding-left: 35px;
                    }
                    .s3-p1 .p1-price .price .txt-right {
                        text-align: left;
                    }
                    .s3-p1 .p1-price .price span {
                        font-size: 19px;
                        line-height: 23px;
                    }
                    .s3-p1 .p1-price .price-orange {
                        padding-top: 0px;
                    }
                    .p2-list {
                        flex-wrap: wrap;
                    }
                    .p2-list .list-1,
                    .p2-list .list-2 {
                        flex: 0 0 100%;
                    }
                    .list-1 .list1-header,
                    .list-2 .list2-header {
                        font-size: 21px;
                        line-height: 36px;
                    }
                    .list-1 .list1-header {
                        padding-left: 20px;
                    }
                    .list-1 .list1-header img,
                    .list-2 .list2-header img {
                        width: 12px;
                    }
                    .list-1 .header-2 {
                        font-size: 24px;
                        line-height: 41px;
                        padding-left: 10px;
                    }
                    .list-1 .content {
                        font-size: 21px;
                        line-height: 24px;
                        padding-left: 40px;
                    }
                    .list-1 .content .txt-sm {
                        line-height: 20px;
                    }
                    .list-2 .list2-header {
                        padding-left: 0px;
                    }
                    .txt-mob {
                        display: block;
                    }
                    .list-2 .content,
                    .list-2 .content .txt-mob,
                    .list-3 {
                        font-size: 18px;
                        line-height: 25px;
                    }
                    .list-2 .content {
                        padding-left: 12px;
                    }
                    .list-2 .content .txt-pc,
                    .list-3 .txt-pc {
                        display: none;
                    }
                    .list-3 .txt-sm-2 {
                        display: none;
                    }
                    .list-3 {
                        padding-top: 0px;
                        padding-left: 32px;
                    }
                    .s3-p2 {
                        display: none;
                    }
                    .section-4 {
                        padding: 20px 10px 0px 10px;
                    }
                    .section-4 .s4-p1-btn {
                        font-size: 37px;
                        line-height: 52px;
                        padding-left: 70px;
                        padding-right: 63px;
                        letter-spacing: 1px;
                        margin-top: 0px;
                        margin-left: 5px;
                    }
                    .section-4 .s4-p1-btn span {
                        font-size: 18px;
                        line-height: 31px;
                        margin-left: 8px;
                    }
                    .section-4 .s4-p1-btn img {
                        right: 5px;
                        margin-top: 11px;
                        width: 42px;
                    }
                    .s4-p2-title {
                        font-size: 24px;
                        line-height: 20px;
                        margin-top: 30px;
                        margin-bottom: 20px;
                        margin-left: 10px;
                    }
                    .s4-p2 .list .item-row {
                        flex-wrap: wrap;
                    }
                    .list-item {
                        width: 50%;
                        margin-right: 0px;
                        padding-left: 8px;
                        padding-right: 8px;
                        margin-bottom: 45px;
                    }
                    .list-item {
                        margin-top: 0px;
                        margin-left: 0px;
                    }
                    .list-item .item-header {
                        font-size: 18px;
                        line-height: 31px;
                        border-radius: 7px;
                        padding-top: 0px;
                        padding-bottom: 0px;
                        -webkit-border-radius: 7px;
                        -moz-border-radius: 7px;
                        -ms-border-radius: 7px;
                        -o-border-radius: 7px;
                    }
                    .list-item .item-content {
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                    .item-content img {
                        width: 167px;
                        margin-right: 8px;
                    }
                    .item-content .item-img {
                        margin-top: 5px;
                    }
                    .item-row:last-child {
                        margin-top: 0px;
                    }
                    .list-item .item-content .item-txt {
                        font-size: 9.6px;
                        line-height: 19px;
                        margin-top: 0px;
                        margin-left: 0px;
                    }
                    .list-item:nth-child(3) .item-content .item-txt {
                        padding-left: 20px;
                        padding-right: 20px;
                    }
                    .list-item:nth-child(2) .item-header {
                        font-size: 14px;
                    }
                    .last-item {
                        width: 50%;
                        margin-top: 5px;
                        margin-left: -4px;
                    }
                    .last-item img {
                        width: 375px;
                    }
                    .p-15-img {
                        padding-left: 17px;
                    }
                    .s2-p2 .refer {
                        padding-left: 39px;
                    }
                }
                
                @media (max-width: 767px) {
                    .header {
                        display: none;
                    }
                    .mob-header {
                        display: block;
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                    .mob-header .form {
                        flex: 0 0 68px;
                    }
                    .mob-header .dial img {
                        width: 100%;
                    }
                    .section-1 .s1-dfp-w7 {
                        width: 100%;
                        font-size: 14px;
                        line-height: 17px;
                        letter-spacing: 0.3px;
                    }
                    .s1-bg2 {
                        display: none;
                    }
                    .s1-p3 .p3-left .title {
                        font-size: 27px;
                    }
                    .section-1 .s1-p3 {
                        flex-wrap: wrap;
                    }
                    .s1-p3 .p3-right {
                        position: absolute;
                        margin-top: -39px;
                    }
                    .s1-p3 .p3-right img {
                        width: 60%;
                    }
                    .section-2 {
                        margin-top: -25px;
                    }
                    .s2-p1 .list {
                        font-size: 23px;
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                    .s2-p1 .list-next {
                        font-size: 28px;
                        line-height: 42px;
                        margin-bottom: 10px;
                    }
                    .s2-p1 .list-next .red {
                        font-size: 40px;
                        line-height: 50px;
                    }
                    .p-15-img {
                        padding-left: 0px;
                    }
                    .p-15-img img {
                        width: 100%;
                    }
                    .s2-p2 .refer {
                        padding-left: 0px;
                        padding-right: 0px;
                    }
                    .s2-p2 .refer .red {
                        margin-left: 0px;
                        font-size: 22px;
                        line-height: 34px;
                    }
                    .s2-p2 .refer .black {
                        margin-left: 0px;
                        font-size: 17px;
                    }
                    .s2-btn-lg,
                    .s4-btn-lg {
                        display: none;
                    }
                    .s2-btn-mob,
                    .s4-btn-mob {
                        display: block;
                    }
                    .s2-p2 .s2-btn-mob .p2-btn {
                        flex-wrap: wrap;
                        flex-direction: column;
                        text-align: center;
                        font-size: 22px;
                        margin-left: 0px;
                        margin-top: 15px;
                        margin-bottom: 15px;
                        margin-right: 0px;
                        line-height: 30px;
                        padding: 6px 15px;
                    }
                    .s2-p2 .p2-btn span {
                        font-size: 16px;
                        line-height: 19px;
                        padding-left: 0px;
                    }
                    .s2-p2 .p2-btn img {
                        right: -14px;
                        margin-top: 27px;
                    }
                    .p1-price {
                        flex-wrap: wrap;
                    }
                    .s3-p1 .p1-price {
                        padding-left: 15px;
                    }
                    .p1-price .price-half {
                        flex: 0 0 100%;
                        width: 100%;
                    }
                    .s3-p1 .p1-price .price-content {
                        margin-top: 0px;
                        padding-left: 0px;
                    }
                    .s3-p1 .p1-price .price-content .product-w9 {
                        font-size: 24px;
                        width: 100%;
                        text-align: center;
                    }
                    .s3-p1 .p1-price .price-content .product-number {
                        flex-direction: row;
                        margin-left: auto;
                        margin-right: auto;
                        padding-right: 15px;
                    }
                    .s3-p1 .p1-price .price {
                        padding-left: 0px;
                        font-size: 43px;
                        padding-right: 15px;
                        text-align: center;
                    }
                    .list-1 .content {
                        padding-left: 20px;
                    }
                    .list-2 {
                        padding-left: 0px;
                    }
                    .list-3 {
                        padding-left: 12px;
                    }
                    .s3-p1 .p1-price .price-orange {
                        margin-top: 20px;
                    }
                    .list-2 .content,
                    .list-2 .content .txt-mob,
                    .list-3 {
                        font-size: 15px;
                    }
                    .list-item .item-content .item-txt {
                        font-size: 12px;
                    }
                    .list-item:nth-child(3) .item-content .item-img {
                        text-align: center;
                        margin-left: unset;
                        margin-right: unset;
                    }
                    .list-item:nth-child(2) .item-header {
                        font-size: 11px;
                    }
                    .list-item .item-header {
                        font-size: 16px;
                    }
                    .list-item:nth-child(3) .item-content .item-img.flex-row {
                        display: block;
                        flex-direction: unset;
                    }
                    .section-4 .s4-btn-mob .s4-p1-btn {
                        flex-wrap: wrap;
                        font-size: 32px;
                        line-height: 33px;
                        padding-left: 15px;
                        padding-right: 15px;
                        padding-top: 10px;
                        padding-bottom: 5px;
                        flex-direction: column;
                    }
                    .section-4 .s4-p1-btn span {
                        font-size: 15px;
                        line-height: 31px;
                        margin-left: 3px;
                    }
                    .section-4 .s4-p1-btn img {
                        right: -10px;
                        margin-top: 37px;
                        width: 34px;
                    }
                    .list-item {
                        width: 100%;
                        margin-bottom: 20px;
                    }
                    .item-content img {
                        width: 50%;
                        margin-right: 4px;
                    }
                    .last-item {
                        width: 100%;
                        margin-top: 0px;
                        margin-left: 0px;
                        margin-bottom: 20px;
                    }
                    .last-item img {
                        width: 100%;
                    }
                    .list-1 .list1-header {
                        padding-left: 0px;
                    }
                    .list-item:last-child .item-header {
                        font-size: 17px;
                    }
                    .s1-p3 .p3-left {
                        width: 100%;
                    }
                    .s1-p3 .p3-left .title {
                        font-size: 15px;
                        line-height: 18px;
                    }
                    .s1-p3 .p3-left .content {
                        font-size: 12px;
                        line-height: 16px;
                    }
                    .s2-p1 .list {
                        font-size: 23px;
                        line-height: 31px;
                    }
                }